.footer{
    margin: 0 auto;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 15px 10px;
    background-color: grey;
}

.footer ul li{
    list-style: none;
    display: inline-block;
    margin-left: 20px;
    padding: 20px;
}